.country-container {
    display: flex; /* Utiliser un conteneur flex pour aligner les éléments horizontalement */
    flex-wrap: nowrap; /* Ne pas permettre le retour à la ligne pour tous les éléments */
  }
  
  .country-container p {
    margin-right: 10px; /* Marge à droite pour séparer les éléments (ajustez selon vos préférences) */
  }