header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  padding: 10px 10px; /* Ajoutez un peu de remplissage pour l'apparence */
}

.country-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 200px;
}

.acceuil {
  margin-top: 80px; /* Ajustez cette valeur pour donner de l'espace au contenu sous le header */
}
.country-name {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  color: rgba(255, 255, 255, 0.8);
}

.btn-trier {
  padding: 9px 25px;
  background-color: rgb(0, 136, 169,1);
  border: none;
  border-radius:50px;
  cursor: pointer;
  transition:all 0.3s ease 0s;
}

.btn-trier:hover {
  background-color: rgb(0, 255, 0);
}

.country-name {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
}


body{
  height: 100%;
  width: 100%;
  background-image: url('img/globe_west.jpg');
  background-attachment:fixed;
  /* background: rgb(1, 1, 29); */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Ajout de cette ligne pour réinitialiser la marge du corps */

}

.country-container p {
margin-right: 10px;
}




#conteneur {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center;
  gap: 60px;
}

.chart{
padding: 2rem;
border: 1px solid rgba(30, 60, 90, 0.9);
border-radius: 1rem;
background: rgba(33, 66, 97, 0.6);
box-shadow: 0 0 16px rgba(0, 0, 0, 0.8 );
/* margin-bottom: 30px; */
margin-top: 50px;
width: 30%;

}



#roiTitre {
  color: white;
}